<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431770669262-hhuevla39akpm8lil72d1fnt1vlhu0p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431770669262-hhuevla39akpm8lil72d1fnt1vlhu0p8</string>
	<key>API_KEY</key>
	<string>AIzaSyD0bLLFxV9LykZK8qxmiutY7CG48LLpgHg</string>
	<key>GCM_SENDER_ID</key>
	<string>431770669262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.culturarte</string>
	<key>PROJECT_ID</key>
	<string>culturarte-455b0</string>
	<key>STORAGE_BUCKET</key>
	<string>culturarte-455b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431770669262:ios:6577fd62e4bced4a24009f</string>
</dict>
</plist>